*.pyc
.DS_Store
.idea
build/
models/__pycache__/
models/*/__pycache__/
models/*/preprocess/__pycache__/
utils/__pycache__/
models/checkpoints/
models/metrics/*.csv
models/sent140/embs.json
_build/
_templates/
autodoc/
data/cifar10/preprocessing/cifar-10-batches-py
data/cifar10/data
data/cifar100/preprocessing/cifar-100-python
data/cifar100/data